# Erlang
.eunit/*
_build/
priv/*
*.o
ebin/*.beam
ebin/riak_pb.app
include/*_pb.hrl
src/riak_dt_pb.erl
src/riak_kv_pb.erl
src/riak_pb.erl
src/riak_search_pb.erl
src/riak_ts_pb.erl
src/riak_yokozuna_pb.erl
doc/*
.qc
.eqc-info
current_counterexample.eqc
src/riak_pb_messages.erl
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
.rebar/*

# Java
target/*

#IntelliJ
.idea/
riak_pb.iml

# C
c/*
